p,
span,
div {
  font-family: "Noto Sans", sans-serif;
}
.custom-navbar {
  background: #002e3b;
  font-family: "Noto Sans", sans-serif;
}
.custom-navbar-link {
  color: #fff !important;
  font-size: 30px !important;
}
.custom-jumbotron {
  padding: 14% 28% !important;
}
.main-text {
  margin-bottom: 20%;
}
.footer {
  color: #8a8a8f;
  padding: 0 50px;
  clear: both;
}
.custom-button {
  background: #002e3b !important;
  border: none !important;
  color: #fff !important;
  width: 60% !important;
}
.cover-image {
  height: 200px;
  background: #efefef;
}
.profile-wrapper {
  overflow: auto;
}
.profile-jumbotron {
  margin-top: -70px;
}
.profile {
  width: 30%;
  float: left;
  margin-left: 14%;
  margin-top: -100px;
  margin-bottom: 100px;
}
.profile-description {
  float: right;
  width: 30%;
  margin-right: 20%;
}
.name {
  font-size: 28px;
  display: inline-block;
  margin-right: 50px;
}
.fa {
  font-size: 28px;
  margin: 5px;
  color: #002e3b;
}
.online-dot {
  display: inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #5cc26a;
}
.my-2 {
  clear: both;
}
.online {
  color: #5cc26a;
  margin-left: 5px;
}
